<h4><%= @category.name %></h4>

<h5>Products:</h5>
<ul>
<% @products.each do |p| %>
  <li>
    <%= p.name %> ($<%= p.price %>)
  </li>
<% end %>
<%= button_to "Update Category", "/categories/#{@category.id}/edit", method: :get, class: "btn btn-md btn-primary" %>
<%= button_to "Delete Category", "/categories/#{@category.id}", method: :delete, class: "btn btn-md btn-primary" %>
<%= button_to "All Categories", "/categories", method: :get, class: "btn btn-md btn-primary" %>