<h4><%= @product.name %> ($<%= @product.price %>)</h4>

<h5>Categories:</h5>
<ul>
<% @categories.each do |c| %>
  <li>
    <%= c.name %>
  </li>
<% end %>
<%= button_to "Update Product", "/products/#{@product.id}/edit", method: :get, class: "btn btn-md btn-primary" %>
<%= button_to "Delete Product", "/products/#{@product.id}", method: :delete, class: "btn btn-md btn-primary", confirm: "Are you sure you want to delete #{@product.name}?" %>
<%= button_to "All Products", "/products", method: :get, class: "btn btn-md btn-primary" %>